body {
  font-family: 'Lucida Console', 'Courier New', monospace;
  margin: 0;
  padding: 1.5em;
  background-color: burlywood;
  color: midnightblue;
}

/* index */

h1 {
  text-align: center;
  text-decoration: underline;
  color: springgreen;
}

h2 {
  color: tomato;
}

.recipes li {
  list-style: none;
}

.recipes a {
  text-decoration: none;
  color: aqua;
}

.recipes a:hover {
  background-color: aquamarine;
  color: darkorange;
}

/* recipes */
.image-container {
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

hr {
  border-top: 1px dotted red;
}

.description {
  font-style: italic;
}

.ingredients {
  list-style: disclosure-closed;
}
